.fz12{
  font-size: 1.2rem;
}
.fz13{
  font-size: 1.3rem;
}
.fz14{
  font-size: 1.4rem;
}
.fz15{
  font-size: 1.5rem;
}
.fz16{
  font-size: 1.6rem;
}
.fz17{
  font-size: 1.7rem;
}
.fz18{
  font-size: 1.8rem;
}
.fz19{
  font-size: 1.9rem;
}
.fz20{
  font-size: 2rem;
}
