@font-face {
  font-family: "iconfont";
  src: url('./assets/font/iconfont.eot?t=1497839081996'); /* IE9*/
  src: url('./assets/font/iconfont.eot?t=1497839081996#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./assets/font/iconfont.woff?t=1497839081996') format('woff'), /* chrome, firefox */
  url('./assets/font/iconfont.ttf?t=1497839081996') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./assets/font/iconfont.svg?t=1497839081996#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before { content: "\e605"; }

.icon-search:before { content: "\e777"; }

.icon-home:before { content: "\e660"; }

.icon-people:before { content: "\e606"; }

.icon-list:before { content: "\e607"; }

.icon-worker:before { content: "\e6cb"; }
.icon-unie63a:before { content: "\e64a"; }
%icon-arrow {
  width: 10px;
  height: 10px;
  background-color: transparent;
  left: 5px;
  top: 3px;
  @extend .pr;
}
.icon-arrow-up {
  @extend %icon-arrow;
  border-top: solid 2px #999;
  border-left: solid 2px #999;
  transform: rotate(45deg);
}

.icon-arrow-down {
  @extend %icon-arrow;
  border-bottom: solid 2px #999;
  border-left: solid 2px #999;
  transform: rotate(-45deg);
  top: -2px;
}
.icon-arrow {
  @extend %icon-arrow;
  border-bottom: solid 1px #999;
  border-left: solid 1px #999;
  transform: rotate(-135deg);
  top: 0px;
  display: inline-block;
}
.icon-arrow-s{
  @extend %icon-arrow;
  border-bottom: solid 1px #999;
  border-right: solid 1px #999;
  transform: rotate(135deg);
  top: 0px;
  display: inline-block;
}

.btn-search{
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
}
