.h100 {
  height: 100%;
}
.w100 {
  width: 100%;
}
.w50{
  width: 50%;
}
.b-no{
  border: none;
}
%flex {
  display: flex;
}

.flex {
  @extend %flex;
}
.flex-column{
  flex-direction: column;
}
%flex-ac {
  @extend %flex;
  align-content: center;
  align-items: center;
}

.flex-ac {
  @extend %flex-ac;
}

.flex-start {
  @extend %flex;
  justify-content: flex-start;
}

.flex-ajc {
  @extend .flex-ac;
  justify-content: center;
}

.flex-jc {
  @extend %flex;
  justify-content: center;
}
.font-12 {
  font-size: 12px;
}

.fz12 {
  font-size: 12px;
  &:before{
    font-size: 12px;
  }
}
.font-18{
  font-size: 1.6rem;
}
.flex-space-between{
  @extend %flex;
  justify-content: space-between;
  align-items: center;
}



.fz22 {
  &:before {
    font-size: 22px;
  }
}
.border-t{
  border-top: 1px solid #ececec;
}
%pr {
  position: relative;
}

%pa {
  position: absolute;
}

.flex-right {
  margin-left: auto;
}


.main-color {
  color: $orange;
  &:hover, &:active, &:visited, &:focus {
    color: $orange;
  }
}


.pa {
  position: absolute;
}
.pat0 {
  position: absolute;
  top:0;
  left: 0;
}

.pr {
  position: relative;
}
.pf{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
}
.pft{
  position: fixed;
  top: 0;
  left: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfloat:after {
  content: " ";
  display: table;
  height: 0;
  clear: both;
  visibility: hidden;
}

.oh-y-a {
  overflow-y: auto;
}

.oh {
  overflow: hidden;
}

.m-center {
  margin: 0 auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.tac {
  text-align: center;
}
.tar{
  text-align: right;
}
.white {
  color: white;
  &:hover, &:active, &:focus, &:visited {
    color: currentColor;
  }
}

.orange {
  color: $orange!important;
  &:before {
    color: $orange;
  }
}
.darkOrange{
  color:$darkOrange;
}

.btn-orange{
  background-color: $orange;
  //color:#fff;
  border-radius: 0.6rem;
}
.btn-default{
  background-color: #999;
  border-radius: 0.6rem;
  color: #fff;
  pointer-events: none;
}
.mt200{
  margin-top:20rem;
}
.pt10{
  padding-top: 1rem;
}
.pl10{
  padding-left: 1rem;
}
.pr10{
  padding-right: 1rem;
}
.p2{
  padding: 0 2%;
}
.p4{
  padding: 0 4%;
}
.pb10{
  padding-bottom: 1rem;
}
.mr55{
   margin-right: 0.5rem;
 }
.mt50{
  margin-top: 5rem;
}
.ml55{
  margin-left: 0.5rem;
}
.pt45{
  padding-top: 4.5rem;
}
.mt5{
  margin-top: 0.5rem;
}
.mt100{
  margin-top: 10rem;
}
.mb10{
  margin-bottom: 1rem;
}
.mb20{
  margin-bottom: 2rem;
}
.mt10{
  margin-top: 1rem;
}
.bgf5{
  background-color: #f5f5f5;
}
.bgf{
  background-color: #fff;
}
.c6{
  color:#666;
}
.c3{
  color:#333;
}
.c9{
  color:#999;
}
.cc{
  color:#ccc;
}
.notice{
  color:#f00;
}
.i-block{
  display: inline-block;
}

.border-b{
  border-bottom: 0.5rem solid #f5f5f5;
}
.show-2{
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.show1{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.zl{
  z-index: 9999;
}

.wc-pagination .wc-dot-active{
  background: #ff9d00 !important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999; opacity:1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999;opacity:1;
}

input:-ms-input-placeholder{
  color: #999;opacity:1;
}

input::-webkit-input-placeholder{
  color: #999;opacity:1;
}
.disabled{
  pointer-events: none;
}
