.login-banner{
    width: 100%;
}
.login{
  padding:0 5%;
  margin-top:-2rem;
}
.form-group:not(:last-child){
    //border-bottom: 1px solid #cecece;
    padding:0 1rem;
}
.validate{
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    .user-validate{
    width: 50%;
  }

}
.user-input{
    border:1px solid #ccc;
    background-color: #f7f7f7;
    border-radius: 0.6rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
    padding: 0.8rem 1.4rem;
    width: 100%;

}
.get-verification{
    border-radius: 0.6rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
    padding: 0.8rem 1.4rem;
    text-align: center;
    width: 48%;
}
.bgo{
  background-color: $orange;
  //color:#fff;
}
.bg6{
  background-color: #ccc;
  color: #999;
  pointer-events: none;
}
.bg3{
  background-color: #ccc;
  color: #333;
  pointer-events: none;
}
.btn-login{
    @extend  .btn-orange,.m-center;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 2px;
    line-height: 4.5rem;
}
.agree{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    margin-top: 0.5rem;
  .agree-protocol{
        color:#cecece;
        font-size: 1.2rem;
    }
}
.agree input[type=checkbox]  {
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  margin-left: 5px;
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  outline: 0 !important;
  line-height: 20px;
  color: #d8d8d8;
  border-radius: 3px;
}

.agree input[type=checkbox]:after  {
  content: "\2713";
  display:block;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  font-size: 1rem;
  color: #fff;
  border: 1px solid #ddd;
  background-color: #fff;
  box-sizing:border-box;
}
.agree input[type=checkbox]:checked:after  {
  border: 1px solid transparent;
  background-color: #22d64c;
}

.agree input[type=radio]:checked:after  {
  content: "";
  transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
  -webkit-transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
  border-color: #22d64c;
  background-color: #22d64c;
}
//第一次登录样式
.user-info{
  background-color: #fff;
  width: 96%;
  padding: 0 2%;
  @extend .m-center;
  .form-group{
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    line-height: 4.8rem;
    input{
      border: none;
      font-size: 1.6rem;
      line-height: 4rem;
      width: 80%;
    }
  }
}
.login-once{
  .form-group:not(:last-child){
    border-bottom: 1px solid #ececec;
  }
}

.address-city{
  width: 80%;
  text-align: right;
}
.sex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-sex{
  width: 4.2rem;
  height: 2.4rem;
  //padding: 0.5rem 1.5rem;
  line-height: 2.4rem;
  text-align: center;
  border-radius: 2px;
  margin-left: 1rem;
}
.userBtnIn{
  background-color: $orange;
  color:#fff;
  border: transparent;
}
.userBtnOff{
  background-color: #fff;
  border:1px solid #999;
}
.address{
  width: 100%;
  height: 5rem;
  resize: none;
  border: none;
  padding-top: 1rem;

}
//登录成功

.success{
  padding-top:10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.success-img{
  width: 24rem;
}
.success-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.p-one{
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  color: #ff9d00;
  img{
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 0.5rem;
  }

}
.p-two{
  font-size: 1.4rem;
  line-height: 2rem;
  color: #999;
}
.green{
  color:#30c48b!important;
}
.btns-group{
  width: 100%;
  margin-top: 2rem;

}

.btns{
  width: 95%;
  font-size: 1.4rem;
  color: #333;
  text-align: center;
  margin-top: 2rem;
  line-height: 4.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  letter-spacing: 1px;
}
.experience{
  background-color:#ffd102 ;
  border: transparent;
}
.download{
  background-color:$orange ;
  color:#fff;
  border:transparent;
  margin: 12rem auto 0;
}
