.img-order-time-img{
  width: 100px;
  height: 100px;
}
.g-time-icon{
  width: 47px;
  background-color: $white;
  margin-left: -16%;
  img{
    width: 32px;
    height: 32px;
  }
}
.g-order-time-flow{
  margin-left: 8%;
}