.com-page {
  @extend %pa;
  bottom: 10px;
  @extend .w100;
  a, .router-link-active {
    //
    font-size: 14px;
    border: solid 1px #e5e5e5;
    padding: 0 7px;
    height: 25px;
    line-height: 25px;
    @extend .tac;
    margin-right: 10px;
  }
  .router-link-exact-active {
    border-color: #4990e2 !important;
    background-color: #4990e2;
    color: #fff !important;
  }
  .com-page-box {
    min-width: 310px;
    max-width: 350px;
    margin-left: 30%;
  }
}

